@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
        background: linear-gradient(135deg, black 50%, rgb(46, 1, 1));
}

img {
    width: 90%;
    max-width: 583px;
    height: auto;
    display: block;
    margin: 50px auto 126px auto;
}

p {
    color: white;
    font-size: 32px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.input-num {
    display: flex;
    justify-content: center;
    gap: 64px;
}

input {
    width: 342px;
    height: 74px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 14px;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 40px;
    font-weight: 500;
    font-style: medium;
    display: inline-block;
    padding: 10px;
    color: white;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
    background-color: red;
    width: 342px;
    height: 72px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-size: 36px;
    display: block;
    margin: 40px auto;
    cursor: pointer;
    box-shadow: 0px 18px 40px 0px rgba(65, 1, 1, 0.6);
}

button:hover {
    opacity: 0.8;
}

.resultado {
    color: red;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
}

input {
    width: 100%;
    max-width: 342px;
}

button {
    width: 100%;
    max-width: 342px;
}

@media screen and (max-width: 600px) {

    img {
        margin: 60px auto 40px auto;
    }

    p {
        font-size: 24px;
        text-align: center;
        padding: 0 10px;
    }

    .input-num {
        flex-direction: column; /* empilha os inputs */
        align-items: center;
        gap: 20px;
    }

    input {
        height: 60px;
        font-size: 28px;
    }

    button {
        height: 60px;
        font-size: 28px;
        margin: 30px auto;
    }

    .resultado {
        font-size: 36px;
    }
}